.dicas-nutricionais-section {
  margin-left: 15px;
  padding-top: 20px;
}

.dicas-nutricionais-list-item {
  box-shadow: 0 0 0.5em gold, 0 0 0.5em red;
  margin-right: 10px;
}

.dicas-nutricionais-list-item-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.dicas-nutricionais-list-item-info-content {
  display: flex;
  align-items: flex-end;
  text-decoration: underline;
}

.dicas-nutricionais-list-item-image-src {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.dicas-nutricionais-list-item {
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 10px;
}

.dicas-nutricionais-titulo {
  font-size: 30px;
}

@media screen and (min-width: 481px) {
  .dicas-nutricionais-list-item-titulo {
    font-size: 24px;
  }

  .dicas-nutricionais-list-item-texto {
    font-size: 19px;
  }
}
